.events-page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #091d24;
  overflow-y: hidden;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.heading-event {
  text-align: center;
  margin-top: 7vh;
  font-size: 5vw;
  color: #ffffff;
  font-size: 8vw;
}
.services {
  width: 100%;
  height: 50vh;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  margin-top: -6vh;
}
.ll {
  width: 50vw;
  margin: 15vh auto;
}
.services > * {
  flex-grow: 1;
}
.img1 {
  width: 72%;
  height: 76%;
  margin: 5px 0 0 0;
}
.img2 {
  width: 79%;
  height: 71%;
  margin: 5px 0 0 0;
}
.img3 {
  width: 75%;
  height: 65%;
  margin: 5px 0 0 0;
}
.testing {
  display: none;
  text-align: center;
  margin: 1vh auto;
  color: #fff;
}
.testing p {
  font-size: 3.6vw;
  margin-top: 1rem;
}
.circle--rotate {
  border-radius: 50%;
  border: 12px #000000 solid;
  width: 67%;
  height: 60%;
  margin: 16vh auto;
  position: relative;
  transform: rotate(0deg);
  z-index: 0;
  padding: 0;
  background: #4ca8c8;
  box-shadow: -3px 2px 51px inset;
}
.circle--rotate > li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  z-index: 10;
  visibility: hidden;
}
.circle--rotate > li .icon {
  visibility: visible;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #3b3b3b;
  height: 20%;
  width: 20%;
  margin: -5% auto;
  transition: all 500ms ease;
  box-shadow: 6px 1px 14px inset;
}
.circle--rotate > li i {
  color: #ffffff;
  font-size: 24px;
  margin: auto;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: table;
}
.circle--rotate > li i::before {
  display: table-cell;
  vertical-align: middle;
}

.circle--slider {
  position: relative;
}
.circle--slider .rotate--circle {
  margin: 0 auto;
}
.circle--slider .circle--rotate > li div {
  position: relative;
  overflow: visible;
  background-color: #091d24;
}
.circle--slider .circle--rotate > li div span {
  transform: rotate(0deg);
  transition: all 2s;
  opacity: 0;
}
.circle--slider .circle--rotate > li.active div {
  font-size: 20px;
  transition: all 1s;
}
.circle--slider .circle--rotate > li.active div span {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  z-index: -1;
  opacity: 1;
}
.circle--slider .circle--rotate > li.active div span:before {
  position: absolute;
  height: 1px;
  top: -50%;
  right: 140%;
  bottom: 0;
  margin: auto;
  content: "";
  width: 30%;
  height: 30%;
  filter: blur(3px);
  opacity: 0.7;
  border: 6px solid #f48e2a;
  z-index: -1;
}
.circle--slider .circle--rotate > li.active div span:after {
  position: absolute;
  height: 1px;
  top: 100%;
  left: 130%;
  bottom: 0;
  margin: auto;
  content: "";
  width: 40%;
  height: 40%;
  border-radius: 50%;
  opacity: 0.7;
  border: 8px solid #fe9290;
  z-index: 5;
}
.circle--slider .count2 li:nth-child(2) {
  transform: rotate(180deg);
}
.circle--slider .count3 li:nth-child(2) {
  transform: rotate(120deg);
}
.circle--slider .count3 li:nth-child(3) {
  transform: rotate(240deg);
}
.circle--slider .count4 li:nth-child(2) {
  transform: rotate(90deg);
}
.circle--slider .count4 li:nth-child(3) {
  transform: rotate(180deg);
}
.circle--slider .count4 li:nth-child(4) {
  transform: rotate(270deg);
}
.circle--slider .count5 li:nth-child(2) {
  transform: rotate(72deg);
}
.circle--slider .count5 li:nth-child(3) {
  transform: rotate(144deg);
}
.circle--slider .count5 li:nth-child(4) {
  transform: rotate(216deg);
}
.circle--slider .count5 li:nth-child(5) {
  transform: rotate(-72deg);
}
.circle--slider .count6 li:nth-child(2) {
  transform: rotate(60deg);
}
.circle--slider .count6 li:nth-child(3) {
  transform: rotate(120deg);
}
.circle--slider .count6 li:nth-child(4) {
  transform: rotate(180deg);
}
.circle--slider .count6 li:nth-child(5) {
  transform: rotate(240deg);
}
.circle--slider .count6 li:nth-child(6) {
  transform: rotate(-60deg);
}
.circle--slider .count7 li:nth-child(2) {
  transform: rotate(51.5deg);
}
.circle--slider .count7 li:nth-child(3) {
  transform: rotate(103deg);
}
.circle--slider .count7 li:nth-child(4) {
  transform: rotate(154.5deg);
}
.circle--slider .count7 li:nth-child(5) {
  transform: rotate(206deg);
}
.circle--slider .count7 li:nth-child(6) {
  transform: rotate(-103deg);
}
.circle--slider .count7 li:nth-child(7) {
  transform: rotate(-51.5deg);
}
.circle--slider .count8 li:nth-child(2) {
  transform: rotate(45deg);
}
.circle--slider .count8 li:nth-child(3) {
  transform: rotate(90deg);
}
.circle--slider .count8 li:nth-child(4) {
  transform: rotate(135deg);
}
.circle--slider .count8 li:nth-child(5) {
  transform: rotate(180deg);
}
.circle--slider .count8 li:nth-child(6) {
  transform: rotate(-135deg);
}
.circle--slider .count8 li:nth-child(7) {
  transform: rotate(-90deg);
}
.circle--slider .count8 li:nth-child(8) {
  transform: rotate(-45deg);
}
.circle--slider .count9 li:nth-child(2) {
  transform: rotate(40deg);
}
.circle--slider .count9 li:nth-child(3) {
  transform: rotate(80deg);
}
.circle--slider .count9 li:nth-child(4) {
  transform: rotate(120deg);
}
.circle--slider .count9 li:nth-child(5) {
  transform: rotate(160deg);
}
.circle--slider .count9 li:nth-child(6) {
  transform: rotate(-160deg);
}
.circle--slider .count9 li:nth-child(7) {
  transform: rotate(-120deg);
}
.circle--slider .count9 li:nth-child(8) {
  transform: rotate(-80deg);
}
.circle--slider .count9 li:nth-child(9) {
  transform: rotate(-40deg);
}
.circle--slider .count10 li:nth-child(2) {
  transform: rotate(36deg);
}
.circle--slider .count10 li:nth-child(3) {
  transform: rotate(72deg);
}
.circle--slider .count10 li:nth-child(4) {
  transform: rotate(108deg);
}
.circle--slider .count10 li:nth-child(5) {
  transform: rotate(144deg);
}
.circle--slider .count10 li:nth-child(6) {
  transform: rotate(-180deg);
}
.circle--slider .count10 li:nth-child(7) {
  transform: rotate(-144deg);
}
.circle--slider .count10 li:nth-child(8) {
  transform: rotate(-108deg);
}
.circle--slider .count10 li:nth-child(9) {
  transform: rotate(-72deg);
}
.circle--slider .count10 li:nth-child(10) {
  transform: rotate(-36deg);
}
.circle--slider .animate-wrapper {
  width: 21%;
  height: 61%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}
.circle--slider .animate-title {
  color: #fff;
}
.circle--slider .animate-img {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  overflow: hidden;
}
.circle--slider .animate-img .animate-img__in {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  z-index: 3;
  transform: rotate3d(0, 0, 0, 0deg) scale(0.85);
  transition: 0.55s ease-in-out;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  background-color: #091d24;
}
.circle--slider .animate-more {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s 0.4s;
  /* min-width: 131px; */
  overflow: hidden;
  text-align: center;
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 15px;
  height: 62px;
  transform: scale(0.8);
}
.circle--slider .animate.active .animate-more {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.circle--slider .animate.active .animate-img .animate-img__in {
  opacity: 1;
  transform: scale(1);
}
@media all and (min-width: 360px) {
  .testing {
    margin: -4vh auto;
  }
  .testing p {
    font-size: 2.8vw;
  }
  .circle--rotate {
    border: 10px #000000 solid;
  }
  .circle--rotate > li .icon {
    box-shadow: 2px 1px 8px inset;
  }
  .testing h1 {
    font-size: 2vh;
  }
}

@media all and (min-width: 450px) {
  .testing {
    margin: 4vh auto;
  }
  .testing p {
    font-size: 2.95vw;
  }
  .circle--rotate {
    border: 12px #000000 solid;
  }
  .circle--rotate > li .icon {
    box-shadow: 4px 1px 3px inset;
  }
  .testing h1 {
    font-size: 2vh;
  }
}

@media all and (min-width: 550px) {
  .services {
    margin-top: -10vh;
  }
  .testing {
    margin: -25vh auto;
  }
  .testing p {
    font-size: 3.1vw;
  }
  .services {
    width: 60%;
    height: 70vh;
  }
  .circle--rotate {
    border: 13px #000000 solid;
  }
  .circle--rotate > li .icon {
    box-shadow: 3px 2px 3px inset;
  }
  .testing h1 {
    font-size: 2vh;
  }
}
@media all and (min-width: 700px) {
  .heading-event {
    display: none;
  }
  .ll {
    width: 36vw;
    margin: 0 auto;
  }
  .test {
    flex-direction: row;
    align-items: unset;
    justify-content: space-around;
  }
  .testing {
    display: none;
    text-align: center;
    margin: 20vh auto;
    color: #fff;
    width: 30vw;
  }
  .testing p {
    font-size: 1.6vh;
  }
  .testing h1 {
    font-size: 3vh;
  }
  .services {
    width: 56%;
    height: 60vh;
    margin-top: 11vh;
  }
  .circle--slider .animate-wrapper {
    width: 35%;
    height: 35%;
  }
  .content1 {
    display: block;
  }
  .circle--rotate {
    border: 15px #000000 solid;
  }
  .circle--rotate > li .icon {
    box-shadow: 4px 1px 3px inset;
  }
}
@media all and (min-width: 1200px) {
  .test {
    flex-direction: row;
    align-items: unset;
    justify-content: space-around;
  }
  .testing {
    text-align: center;
    margin: 25% auto;
    color: #fff;
    width: 100%;
  }
  .testing p {
    font-size: 2vh;
  }
  .ll {
    width: 36vw;
    margin: 5vh auto;
  }
  .testing h1 {
    font-size: 3vh;
  }
  .services {
    width: 56%;
    height: 60vh;
    margin-top: 0;
  }
  .img1 {
    width: 100%;
    height: 76%;
    margin: 1.5vh 0 0 0;
  }
  .circle--rotate {
    margin: 14% 0 0 27%;
  }
  .circle--slider .animate-wrapper {
    width: 35%;
    height: 35%;
    left: 20%;
  }
}
@media all and (min-width: 1450px) {
  .testing {
    text-align: center;
    margin: 30% auto;
    color: #fff;
    width: 100%;
  }
  .test {
    flex-direction: row;
    align-items: unset;
    justify-content: space-around;
  }
  .testing p {
    font-size: 2vh;
  }
  .ll {
    width: 36vw;
    margin: 5vh auto;
  }
  .testing h1 {
    font-size: 3vh;
  }
  .services {
    width: 56%;
    height: 60vh;
    margin-top: 0;
  }
  .img1 {
    width: 100%;
    height: 76%;
    margin: 1.5vh 0 0 0;
  }
  .circle--rotate {
    margin: 14% 0 0 27%;
  }
  .circle--slider .animate-wrapper {
    width: 35%;
    height: 35%;
    left: 20%;
  }
}
